[2018-01-12 10:48] tiaguinho opened #1 "bug(collection) collection don't update"
collection don't update when colors change.

[2018-01-15 05:35] tiaguinho commented on #1
This isn't a bug.
This happens because Angular pre-compile the content that id transpile in ng-content.

[2018-01-15 05:35] #1 closed

[2018-01-15 05:37] tiaguinho opened #2 "Accessibility"
Add tags so the component has accessibility.

[2018-01-15 05:38] tiaguinho opened #3 "Keyboards shortcuts"
Add keyboards shortcuts.

[2018-01-15 06:50] tiaguinho opened #4 "Tests"
Add tests to the component.

[2018-01-17 11:51] tiaguinho opened #5 "Transparent"
Add button to erase  color from color picker

[2018-01-23 10:24] tiaguinho opened #6 "Initial value for history color"
Add entry for initial values on history color

[2018-01-23 10:34] tiaguinho opened #7 "New Design"
Change component design to be smaller

[2018-01-24 14:24] #5 closed

[2018-01-24 14:24] #7 closed

[2018-01-25 10:29] osamuca opened #8 "sugestão"
olhei que você segue um padrão nos commits e queria saber se posso subir um plugin que já faz essa automatização, demorou?!

[2018-01-25 10:30] osamuca commented on #8
@tiaguinho

[2018-01-25 10:54] tiaguinho opened #9 "Validate HEX"
Color HEX isn't validated.

[2018-01-25 16:19] #9 closed

[2018-01-25 16:23] tiaguinho opened #11 "Define size of used colors collection"
Change used colors collection limit size

[2018-01-25 16:25] tiaguinho commented on #8
Hi @osamuca
I'll take a look at this later and see the PR you have sent.

[2018-01-25 16:40] tiaguinho opened #12 "Connect color-picker"
Create directive to connect color-picker with any component.

Example:

[code]

[2018-01-29 15:05] osamuca commented on #8
@tiaguinho o que você acho da ideia?

[2018-02-01 23:30] #12 closed

[2018-02-02 08:34] #11 closed

[2018-02-05 15:00] slecoustre opened #13 "Reactive Forms"
The matColorPickerOrigin directive does not work Reactive Forms.
If I change the value with the input the picker is updated but if I add the picker the input is updated but not the form

[2018-02-06 10:05] jensdc92 opened #14 "Selected Color not updating the color in the panel"
When I update the selected color it would be nice the color in the panel is updated too. So when i'm updating multiple entities the color of the previous one doesnt stay behind.

Also when I'm trying to select a color, often I can't select a color by just clicking but i have to drag.

Thansk for your great work !

[2018-02-06 14:16] tiaguinho commented on #13
I'll work on that.
Thanks for the report.

[2018-02-09 09:47] tiaguinho opened #15 "Buttons doesn't show on firefox"
confirm and cancel buttons doesn't show in firefox.

[2018-02-09 12:13] #15 closed

[2018-02-13 07:13] tiaguinho commented on #13
@slecoustre please upgrade to the version 1.2.2.
Thank you.

[2018-02-13 07:13] #13 closed

[2018-02-13 07:20] tiaguinho commented on #14
Hi @jensdc92, when you say:

You mean update the color inside the select area?

[2018-02-13 07:57] #2 closed

[2018-02-13 08:35] jensdc92 commented on #14
@tiaguinho Yes, that's what I mean

[2018-02-13 16:12] tiaguinho commented on #8
very nice!
thank for contribution @osamuca

[2018-02-13 16:12] #8 closed

[2018-02-13 16:57] osamuca commented on #8
@tiaguinho se quiser depois escrevo como funciona esse padrão para quando tiver futuras contribuições a galera seguir o padrão e tbm posso fazer uma `release.sh`. o que acha?

[2018-02-13 17:06] tiaguinho commented on #8
I'm already creating the contribution guidelines. But thank you.

[2018-02-23 11:10] DocLM opened #16 "Allow to hide used colors"
I like the idea to add an option to hide used color section

[2018-02-27 10:58] tiaguinho commented on #16
Thanks for your contribution @DocLM

[2018-02-27 10:58] #16 closed

[2018-03-01 13:57] DocLM opened #18 "[BUG] bottom right part of the grid select random colors"
The bottom right part of the selection grid select different color than what is shown on the grid.

Browser tested: Safari 11.0.3, Chrome 64.0.3282.186 (MacOS)
![color_issue](https://user-images.githubusercontent.com/2318483/36848047-5e10350e-1d60-11e8-9df2-8810195dacec.jpeg)

[2018-03-01 17:53] PowerKiKi opened #19 "Relax angular version to allow 5.2"
Would it be possible to relax version dependencies on angular to allow 5.0 ([as now](https://github.com/tiaguinho/mat-color-picker/blob/master/lib/package.json#L32-L40)) and also 5.2 ?

We have a project already running on angular 5.2 and adding this library install angular 5.0 side-by-side. It then trigger [that bug](https://github.com/angular/angular/issues/21925#issuecomment-364306640) and prev

[2018-03-06 07:43] tiaguinho commented on #19
I think this is possible.

I'm working on a new release and a blog post about the changes.
After that, I'll work on your request.

[2018-03-06 11:12] shekvl opened #20 "EMPTY_COLOR customization"
Is it possible to implement the possibility to customize the EMPTY_COLOR constant?
My application is multi-language and I would be very happy not having 'none' always shown for the empty color and sent back as color value (in fact, I would prefer to set it to empty string).

[2018-03-08 22:40] jpisano opened #21 "ColorPicker: Whenever you modify an RGB value to below 16 the wrong HEX value is produced"
If you use the RGB inputs on the color picker to modify the color and change the value of any of the three, the HEX produced will be incorrect and the RGB value will jump. For example, if you type 15 as the R value the HEX value produced will be F0 and the R value will be 240. I've traced it down to the following method:

[code]
I believe it should be:

`hex[key] = '0' + hex[key];`

Instead of:

`

[2018-03-09 16:50] DocLM opened #23 "Cannot compile with --aot"
I would like to use mcc color picker from mcc latest release 2.4.3 but when I import the module in my application module I get the following error.

Only AOT compilation is affected.

OS: MacOS 10.13.3

I made a simple sample repo with the issue here: https://github.com/DocLM/mcc-test
[code]

Maybe related to https://github.com/dherges/ng-packagr/issues/355

[2018-03-09 19:54] DocLM commented on #23
I found that it is related to missing metadata that are not generated.

[2018-03-10 20:25] #23 closed

[2018-03-10 20:27] #21 closed

[2018-03-10 20:27] #20 closed

[2018-03-10 20:30] #18 closed

[2018-03-10 20:33] tiaguinho opened #27 "Move documentation to repository"
The content of wiki documentation will be put inside the repository.
All documentation will be created in demo-app.

[2018-03-13 15:38] tiaguinho opened #28 "Color picker doesn't update when input is equal to EMPTY_COLOR"
When color picker is connected to an input and the input value is equal to EMPTY_COLOR selected isn't updated.

[2018-03-13 16:18] jpisano commented on #28
I've also noticed that when updating the input value, while the picker's selected color is updated, the selectors color isn't updated:

![selector-not-updated](https://user-images.githubusercontent.com/1324780/37354597-647cc414-26b8-11e8-93c8-8f26a935469b.gif)

Should I file this as a separate bug?

[2018-03-13 16:39] jpisano opened #29 "Color selector doesn't allow you to backspace on the HEX input once a valid color is entered"
If HEX input on the color selector already has a valid color value, you can not use the backspace key to change the value,

![selector-wont-allow-backspace](https://user-images.githubusercontent.com/1324780/37356050-7cc6cef4-26bb-11e8-8dba-6e3f74926502.gif)

[2018-03-13 22:46] #28 closed

[2018-03-13 22:46] #29 closed

[2018-03-14 10:26] tiaguinho commented on #19
@PowerKiKi please upgrade your installation to version 2.5.6.

[2018-03-14 10:26] #19 closed

[2018-03-14 10:27] p-jan opened #31 "selected color not updated in preview hex and background due to bug in coerceHexaColor"
When changing the color the RGB values get updated while changing, but the hex value and background color of the preview-div are not updated.

I fixed it locally by changing coerceHexaColor in color-picker.ts
The validity check fails on the fact that the string doesn't start with a '#'

So I added the following lines at the beginning of the function:

  if (color != null && color.charAt(0) !== '#'

[2018-03-14 12:46] tiaguinho commented on #31
Hi @p-jan.
Which browser are you using?

[2018-03-14 16:00] jpisano commented on #31
I'm seeing the same behavior.

[2018-03-14 16:04] tiaguinho commented on #31
I had checked the behavior and also saw the bug.
The solution works, so I'm updating the package right now.

Thanks @p-jan and @jpisano !

[2018-03-14 16:04] #31 closed

[2018-03-16 17:07] jpisano opened #33 "Selecting empty_color while connected to input won't allow the user to change the inputs value"
When selecting empty_color from the selector then trying to change a connected input, the user can not delete the word "none" from the connected input to delete it.

![input-wont-allow-backspace](https://user-images.githubusercontent.com/1324780/37534288-caf33bba-291a-11e8-82a9-4b807dc07fb9.gif)

[2018-03-16 17:23] jpisano opened #34 "Selector default back to black(#000000) when using backspace on the HEX input"
While trying to change the HEX in the selector, if you remove all the characters from the HEX input, the color defaults back to #000000.

![selector-defaults-to-black](https://user-images.githubusercontent.com/1324780/37535057-f9083ada-291c-11e8-9750-c45fa67eec8b.gif)

[2018-03-17 20:11] alexjlockwood opened #36 "Color picker doesn't support ARGB values (only RGB)"
Great library!

Would love to use it. However, I couldn't find a way to specify an ARGB color value (or maybe I just missed it?). Is there a way to specify the opacity of the color (similar to this library: https://github.com/brianpkelley/md-color-picker)?

[2018-03-19 04:44] amhhernandez opened #37 "request(feature:color-picker) Hide hexadecimal forms"
Some times the end user doesn't need to know what hex color is being used. That's why a `hideHexForms` input would be a good idea.

Here's a screenshot of the concept I try to explain:

![image](https://user-images.githubusercontent.com/5327209/37578336-b82705fe-2afd-11e8-96f3-83fdc79d8593.png)

[2018-03-19 09:00] tiaguinho commented on #36
Thanks!
I'll try to release this feature until Friday.

[2018-03-20 07:38] tiaguinho opened #39 "Scrollspy component"
On the [Material](https://material.angular.io/components/autocomplete/overview) website, when we start to scroll the page, the right nav current section automatically changes.

The idea of this components is to provide an easy way to map the page and automatically create that right navigation system.

[2018-03-23 11:50] tiaguinho opened #40 "request(change: color-picker): Hide used colors transparent option"
Create an option on ```mcc-color-picker``` component to hide transparent option of used colors.

[2018-03-23 11:53] tiaguinho opened #41 "bug(color-picker): can't select #ffffff"
Impossible to select #ffffff option on selection area.

[2018-03-27 09:10] #33 closed

[2018-03-27 09:10] #34 closed

[2018-03-27 09:38] #40 closed

[2018-03-29 11:52] DocLM opened #42 "Compatibility with angular : 6.0.0-rc.0 and rxjs 6.0.0-beta"
Angular 6 should be released on April. This package seems to be incompatible with Angular upgrade to RxJS 6

I test it with a sample project generated with `ng new angular-test`
[code]

Running `ng serve` will throw the following errors
[code]

Maybe we need a branch to apply some changes for the upcoming release

[2018-04-09 16:00] devKid88 opened #45 "Reset "Used Color" list ?"
Is there a way to reset used color list ?
If no, then this is suggestion :)

[2018-04-10 06:34] tiaguinho commented on #45
@devKid88 please update to version 2.7.8.
Thanks!

[2018-04-10 06:34] #45 closed

[2018-04-13 13:39] devKid88 commented on #45
Thanks, works fine.

[2018-04-13 14:14] devKid88 opened #46 "Missing half of picker"
Sometimes half of picker missing, depends on screen size and picker position on screen or if we have scroll.
Maybe suggestion is that we have onOpen emitter so we can handle what we can do in these cases ( and many more situations ). In general I think it would be good option to have open emitter.

Thanks

[2018-04-13 14:31] devKid88 opened #47 "Click out and selected emitter relation"
I am not sure is this bug, but if we select color but not confirmed it with confirm button, and click outside of component I get that value and it triggers selected emitter.

My question/suggestion is on click out emitter I dont want to have any value, or if i selected earlier to stay on that value, I selected something and click out of picker it triggers both selected emit and clickOut emit, but

[2018-04-17 09:06] tiaguinho opened #49 "feat(color-picker): set the height of selector"
Change the default value of selector height

[2018-04-21 20:09] tiaguinho commented on #27
Docs available at [https://tiaguinho.github.io/material-community-components/](https://tiaguinho.github.io/material-community-components/)

[2018-04-21 20:09] #27 closed

[2018-05-04 07:54] thesayyn opened #50 "feat(Angular 6 support)."
Hi guys.

With the angular version 6 removed the rxjs imports such as below.

[code]
So material community components won't work in angular 6
I think we should replace them with

[code]
 this import syntax will work at previous versions.

[2018-05-04 07:56] #50 closed

[2018-05-05 22:47] Fyvel commented on #42
`npm i rxjs-compat` should allow ng serve to work
In the other hand, the section "After the update" from https://update.angular.io/ shows how to migrate to rxjs 6

[2018-05-07 19:20] ranouf commented on #42
Thanks, It works now :)

[2018-05-09 05:40] cnqiuxue commented on #42
Thanks, It works now :)

[2018-05-09 06:29] #39 closed

[2018-05-10 14:16] mandarini commented on #42
Thank you!! I saved so much time!

[2018-05-13 12:21] Gil-Epshtain opened #51 "Missing documentations, Examples"
I'm trying to use the color-picker library after I've run the npm install command I've tried to add the MccColorPickerModule to my app.module, but the documentation doesn't specify from where should I import it. In addition, in the example page, the "view code" section is missing so I can't understand how to use the API. When I've tried to run the demo-app I've realized that the demo-app is an emp

[2018-05-15 04:39] z778856 commented on #42
Thx Fixed It

[2018-05-16 11:11] lukeclifton opened #52 "feat(color-picker): automatically add a # if no # is added when a hex code is inputted"
At the moment, if you you enter a hex code without a `#` symbol then it rejects the input.
Would be a better UX if when a user inputs a valid hex code (but without the `#`) then the picker automatically adds the # and accepts the input.

[2018-05-18 10:55] lippomano opened #53 "Highlight the selected color"
I am using the minimal version of colorpicker, like you see in the image I don't have any feedback when I select some color, I can't see the selected color before confirmation.

I think is better if the user has some feedback when he clicks on some color, maybe with an highlight around the selected button or similar.
Is it possible?

![colorpicker](https://user-images.githubusercontent.com/2750174

[2018-05-19 20:04] alexjlockwood opened #54 "Project fails to build locally when running `npm start`"
I get the following error when running `npm start` with a freshly cloned repo. Creating an empty `src/demo-app/assets` directory fixed the error.

[code]

[2018-05-19 20:19] alexjlockwood opened #55 "Link to documentation in README.md doesn't work"
The link to the "documentation" in the `README.md` file (screenshot below) does not work. It just takes you back to the repo's main page.

<img width="648" alt="screen shot 2018-05-19 at 4 18 51 pm" src="https://user-images.githubusercontent.com/1380747/40272739-5c95192a-5b80-11e8-95a1-c752cfa34c97.png">

[2018-05-22 12:48] mayursn commented on #42
Thanks it works for me @Fyvel

[2018-05-26 22:38] alexjlockwood opened #56 "Cancel/Confirm buttons should display ripples when pressed"
This repo *is* called "material" community components after all. :)

[2018-05-26 22:40] alexjlockwood commented on #56
OK, ignore me... I just realized they do actually display ripples. :)

[2018-05-26 23:00] alexjlockwood opened #57 "The position of the circle in the top rectangular area does not change when you alter the values of the RGB form controls"
When you change the value of one of the 3 RGB text fields, the background color of the color picker changes. However, the draggable circle in that top rectangular area of the color picker does not change its position to match the new color.

<img width="283" alt="screen shot 2018-05-26 at 3 39 01 pm" src="https://user-images.githubusercontent.com/1380747/40580870-c3161866-60fd-11e8-9c1b-527e7ebdcd

[2018-05-26 23:01] alexjlockwood opened #58 "Drag gestures get canceled immediately as soon as you drag the mouse outside the bounds of the color picker"
Is this avoidable somehow? It is kind of annoying that drag gestures get canceled mid-drag as soon as your mouse accidentally moves outside of the bounds of the color picker.

[2018-05-27 00:15] alexjlockwood commented on #56
Oh wait, you know what... I just realized that I actually *do* experience this issue... but only when I build the project and run it locally (it doesn't happen on the demo app that is currently published).

[2018-05-27 00:16] alexjlockwood commented on #56
Another issue I noticed with the project when run locally is that the form control RGB labels do not change their colors when the background color is too dark (i.e. if you set the RGB values to 0, 0, 0... then the background color changes to black, and the form control fields remain black as well, making them unreadable... this does not seem to be an issue with the currently published demo app eit

[2018-05-27 01:17] alexjlockwood commented on #36
This would be a really awesome feature to add if it is easy. :)

[2018-05-28 06:57] #54 closed

[2018-05-28 07:01] #55 closed

[2018-05-28 15:07] tiaguinho opened #59 "Show used colors in reverse"
Add the option to show used colors from the newest to the oldest.

[2018-05-30 06:39] #49 closed

[2018-05-30 06:45] tiaguinho commented on #36
@alexjlockwood I'm thinking how to add this feature without making the component bigger.

Do you have some idea?

[2018-05-30 07:01] tiaguinho commented on #51
@Gil-Epshtain I just add the import example inside the docs.
I'll try to add the "view code" section next week. Until then, you can check the code from the demo-app folder.

There is a folder called **components** with a file **COMPONENT-NAME-examples.component.ts** inside each component folder. You can find every example there.

[2018-05-31 12:35] hamedjabbari commented on #42
Thanks, It works ...

[2018-06-01 06:49] meenakshi1969 commented on #42
Thanks a lot .You saved my day:)

[2018-06-01 19:27] roopeshkumar commented on #42
Thank you. That's helpful.

[2018-06-04 08:13] #59 closed

[2018-06-05 20:40] yehia123 commented on #42
@etonyali Thank you works for me now, been stuck all day trying to figure it out!

[2018-06-13 06:53] #47 closed

[2018-06-14 10:54] tonymartin-dev commented on #36
Is there some change about rgba support? Really interested here

[2018-06-15 17:32] InSantoshMahto commented on #42
thanks dear

[2018-06-19 19:38] nageshvengal commented on #42
now its working... thanks

[2018-06-21 22:32] sheanWinston commented on #42
thanks alot

[2018-06-26 00:19] evyros commented on #42
Actually, the real solution is changing the import declaration.
For example, change this:
[code]

To this:
```import { Observable, Subject } from 'rxjs';```

`rxjs-compat` is unnecessary, you don't really need it from version 6 and above (according to official migration guide).

[2018-06-27 07:51] malikfaizanhaider opened #60 "Connect color popup picker with an input"
color picker popup should be  connect  with an input.

[2018-06-28 06:08] dhanu1993 commented on #42
thanks a lot. saved a lot of time

[2018-06-30 10:39] jrosseel commented on #42
@evyros, the problem I have is that the import is not in my typings but in those of rxjs itself.

This is the error I get:
`ERROR in node_modules/rxjs/observable/throw.d.ts(1,15): error TS2307: Cannot find module 'rxjs-compat/observable/throw'.`

The error occurs in node_modules/rxjs/. My version of rxjs is > 6.0.0. I therefore have no control to change that import in a sustainable way myself.

[2018-07-09 17:41] afolachea commented on #42
@jrosseel I had the same issue, the rxjs migration tool missed to remove one import in my code.
`import 'rxjs/observable/throw';`
The usage was successfully replaced by `throwError` so I only had to remove the import manually and the error was gone.

[2018-07-12 15:58] guschnwg opened #61 "Color picker open with selected color when canceled before"
**Describe the bug**
When I open the color picker and select some color and cancel, the color picker should (or not?) reset the color to the selected one.

**To Reproduce**
![screencast-tiaguinho github io-2018 07 12-12-51-14](https://user-images.githubusercontent.com/15526434/42644902-1ea5ce7a-85d3-11e8-8b1c-1b34a33b2e35.gif)

**Expected behavior**
When I open the color picker again the selected

[2018-07-16 19:36] pedroolimpio commented on #42
thx a lot!

[2018-07-18 14:52] rubenheymans opened #62 "24h format"
The timepicker should have a 24h format and not just convert it.
AM/PM is confusing for European users.
![chrome-android-time](https://user-images.githubusercontent.com/2543870/42890923-569a6298-8aae-11e8-8c12-7f554abba334.png)

[2018-07-24 08:34] Yascin081 commented on #42
Thanks a Lot bro

[2018-07-27 21:56] ccarns commented on #53
Another similiar scenario is the above configuration with hideButtons="true" ....  and in that case you may want to just close the dialog all together as if you hit the confirm button.

[2018-07-29 14:12] TahaSeckin commented on #42
Thanks you bro

[2018-08-05 11:43] #51 closed

[2018-08-10 11:16] Rzpeg opened #63 "Errors compiling the module (MatColorPicker) in AOT, fresh project"
**Describe the bug**
The library (mat-color-picker) makes the project un-compilable in --aot compilation.

**To Reproduce**
Steps to reproduce the behavior:
1. ng new testapp
2. cd testapp
3. npm install --save @angular/material
4. npm install --save @angular/cdk
5. npm install --save rxjs-compat
6. npm install --save mat-color-picker
7. edit src\app\app.module.ts and add import BrowserAnimationsM

[2018-08-10 14:11] gizellysteffanny commented on #63
I have the same problem with 6.1.1 😢

[2018-08-10 14:52] tiaguinho commented on #63
The component name was changed to ```material-community-components```.
Please try install using:
[code]
or
[code]

[2018-08-10 20:20] gizellysteffanny commented on #63
@tiaguinho Thank you so much!!!

[2018-08-12 11:33] #63 closed

[2018-08-20 00:35] slam24 commented on #42
Thanks, It works now :+1:

[2018-08-25 10:15] alevidcosta commented on #42
In my pursuit of rxjs-compat removal, i performed the steps below

Running the automatic migrations. Please, be patient and wait until the execution completes.
child_process.js:644
    throw err;
    ^

Error: Command failed: "C:\Users\Dcostas\AppData\Roaming\npm\node_modules\rxjs-tslint\node_modules\.bin\tslint" -c "C:\Users\Dcostas\AppData\Roaming\npm\node_modules\rxjs-tslint\rxjs-5-to-6-migrate

[2018-08-25 22:28] Dgiulian opened #65 "Not working with Angular 6+"
`ERROR
Error: StaticInjectorError(AppModule)[MatButton -> ElementRef]:
StaticInjectorError(Platform: core)[MatButton -> ElementRef]:
NullInjectorError: No provider for ElementRef!`

**To Reproduce**
I've created a bare bones [stackblitz ](https://stackblitz.com/edit/angular-bounrm)  project and got the same error.

I believe the error is because the component has Angular 5 as a dependency, so the

[2018-08-29 18:32] wallacethierre commented on #42
Thanks a lot. Work for me.

[2018-08-31 18:15] ganganibhumika commented on #42
Thank you very much.It work for me.

[2018-09-05 10:39] striky1 opened #66 "Validator checking "empty" value of hex color not working properly"
**Describe the bug**
When you using directives (MccColorPickerOrigin and MccConnectedColorPicker) on basic text input with RXJS forms and you want to check if is input empty (required) there is a problem when you have some value, e.g. `#fff`, and you selected whole value, then clicked delete/backspace and then in formControl you will have still same value `#fff` BUT if you will erase value with ch

[2018-09-05 11:03] LukasN opened #67 "Use material color palette"
**Describe the idea you have**
It would be great if you could pass the theming color via binding into the time picker. at the moment the timepicker header and font only supports the primary color.

[2018-09-05 11:32] striky1 commented on #65
Hi,

in your stackblitz you called `<mat-color-picker></mat-color-picker>` what is old way. You have installed Material community Components, so, in `app.module.ts#7` replace with `import { MccColorPickerModule } from 'material-community-components';` and in your template you can now use `<mcc-color-picker></mcc-color-picker>` for got ColorPicker.

Tested on Angular v6.0.0.

[2018-09-12 18:28] Olivia593 commented on #42
I changed the import declaration to import {} from 'rxjs', it's still not working.

[2018-10-18 04:18] 123gogogo123 opened #69 "Cannot downgrade color picker component"
Hi, I want to downgrade color picker using "@angular/upgrade", but color-picker-component is not exposed.
I checked public_api.js, but only colorPickerModule, colorPickerItem and colorPickerService are exported. Why do not we expose color-picker-component? Is there anything I can do to get color-picker-component? Or we can create a component to wrap it and downgrade our own component? @tiaguinho

[2018-10-25 11:19] yogeshpatil143 commented on #42
npm install --save rxjs-compat

Its working for me

[2018-10-29 12:12] striky1 opened #70 "Color of titles are don't changed depends on chosen color"
**Describe the bug**
If you pick dark color, color of titles (RGB/HEX) are still with dark color.

**To Reproduce**
Steps to reproduce the behavior:
1. Open ColorPicker
2. Choose dark color
3. Titles HEX and RGB are still with dark color

**Expected behavior**
Color of titles should be changed in same way like color of values

**Screenshots**
![image](https://user-images.githubusercontent.com/8904

[2018-10-29 12:44] striky1 opened #71 "Can't set zero values in RGB inputs"
**Describe the bug**
Can't set zero values in RGB inputs (HEX: #000000 works)

**To Reproduce**
Steps to reproduce the behavior:
1. Open color picker
2. Choose for example white color
3. Try write 0 to all RGB inputs
4. Inputs are red (validation) and color is not changed

**Expected behavior**
Should allow to write 0 as value in RGB inputs

**Screenshots**
![image](https://user-images.githubuserc

[2018-10-29 21:57] rui-cruz commented on #58
Hi,

I did not try this colorpicker yet, but from my experience you should be able to listen dom move event:

[code]

hope it helps

[2018-11-20 11:43] ZeMeirinhos commented on #41
It's also impossible to select #FF0000
Often it sets the colour to #000000 when trying to select the colour in the very top right corner.

[2018-11-26 09:50] suchidomelo commented on #42
ERROR in node_modules/angular5-social-login/auth.service.d.ts(1,10): error TS2305: Module '"D:/angular_project/myangular5/node_modules/rxjs/Observable"' has no exported member 'Observable'.
node_modules/rxjs/Observable.d.ts(1,15): error TS2307: Cannot find module 'rxjs-compat/Observable'.

[2018-11-26 09:54] PandaTheCoder commented on #42
thanx @fyvel it works for me

[2018-12-17 16:57] wilversings opened #72 "request(component) Confirm dialog/modal"

[2018-12-27 20:58] #71 closed

[2018-12-27 23:09] #52 closed

[2018-12-28 09:36] yogeshpatil143 commented on #42
npm i rxjs-compat

Please add these in root folder

[2019-01-13 03:31] Splaktar opened #75 "feat: support Angular Material themes"
**Describe the idea you have**
It would be nice if the components worked with the existing Angular Material theme that an app has defined. Currently it looks like the time picker just hard codes a `$primary` color. I did this in my library at first as well. But I just got it updated to integrate with the Angular Material theming mixins and references. You can take a look at when I needed to do [he

[2019-01-14 08:51] YZahringer opened #76 "Set default usedColorStart on ColorPickerConfig"
It would be useful to be able to specify the default colors of `usedColorStart` when importing the module, such as `empty_color`.

Currently it is necessary to set the value for each use.

[2019-01-14 10:46] YZahringer opened #77 "Allow null empty_color configuration"
null value on empty_color configuration does not work

[2019-01-14 12:59] tiaguinho commented on #75
I'll take a look on the link and try to implement ASAP.
I'm planning to release a new version on Wednesday with this feature included.

[2019-01-14 19:31] wilversings commented on #72
Hello @Splaktar

Angular Material Dialog works just fine.
I only needed one additional component that can handle confirmation logic and is usable via a service and I thought this was the place for it.
With Material Dialog I would have to add a component to my app, and implement layouting and event logic (and service), which might be a bit of a hassle for such a simple functionality that can easily

[2019-01-15 00:55] Splaktar commented on #72
@wilversings thank you for clarifying.

[2019-01-19 01:20] tiaguinho commented on #75
@Splaktar I finally take some time to implement this feature.
I'll lunch in a few hours.
Thanks for the tip in how to implement that.

[2019-01-19 01:40] #76 closed

[2019-01-19 01:40] #75 closed

[2019-01-19 01:40] #67 closed

[2019-01-19 14:15] tiaguinho commented on #4
We coverage around 91% of the code.

[2019-01-19 14:15] #4 closed

[2019-01-21 12:41] LukasN opened #78 "Can't import theming.scss"
**Describe the bug**

Just wanted to try the new theming mixin, but it seens the theming scss of mcc is not in the package.
All i get is following error:

`@import '~material-community-components/theming';
^
      File to import not found or unreadable: ~material-community-components/theming.
`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a angular project
2. add mcc 3.4 to project

[2019-01-24 16:20] Samoulou opened #79 "Binding the colorPicker to an input in a Reactive Form"
When connecting the colorpicker to an input in a Reactive From using MccColorPickerOrigin and MccConnectedColorPicker it put the input controls as `pristine: false`.

The binding between the color picker and the input is certainly detected as a modification after the init.

The binding shouldn't make the input controls as pristine

[2019-01-28 19:06] YZahringer commented on #76
Thank you for the improvement 👍

Now we can set the default colors, but not specify their number. It would miss `usedSizeColors` in the `ColorPickerConfig`? The default value of `usedColorLabel` and `hideButtons` would also be useful.

[2019-01-31 23:05] bunjiboys opened #80 "Tests fail after upgrading to 3.4.0"
**Describe the bug**
After upgrading from 3.3.1 to 3.4.0, any component that uses the color picker now fails unit tests with the following error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Have any working implementation using the mcc-color-picker, using version 3.3.1
1. Upgrade to version 3.4.0
1. Re-run tests and see them fail with the error message above.

**Expected behavior**

[2019-02-01 09:32] iamnckblr opened #81 "request(component) calendar"
**Describe the idea you have**
You guys might know the datepicker from material.angular.com.
I think there should be a calendar like in angularJs material: [calendar](https://material.angularjs.org/latest/demo/datepicker#calendar)
where the datepicker is always open and much bigger.

I know there is a angular calendar from mattlewis92 [here](https://mattlewis92.github.io/angular-calendar/#/kitchen

[2019-02-01 10:47] PierrickHus opened #82 "Integration with bootstrap grid."
Hi,
I encounter a graphical issue when I'm using bootstrap grid system with the mmc-color-picker.
The div with "mcc-color-picker-selector-preview" class become too small and wordings of HEX and RGB are wrapped above the "usedColorLabel".

**To Reproduce:**
**When you create the new angular project with cli, be sure you selected sass !**

1. > ng new test-app
    * Say **no** to Angular routing.

[2019-02-11 08:18] Enngage opened #84 "Improving 24h formatting"
It would be nice if the 'am' and 'pm' are localizable. Or the ability to hide these when 24 hour format is enabled would be even better because it makes little sense to use these in 24h format. This woud likely require to extend the clock to full 24 items though.

[2019-02-13 16:43] MedHassona commented on #42
thanks **budy**

[2019-02-17 12:57] samogot commented on #79
I've bypassed it by creating my own control that implements ControlValueAccessor and wraps MccColorPickerComponent

IMPORTANT NOTICE: I only need to track confirmed changes as dirty, that's why I use `selected` event with `distinctUntilChanged`.  `this.formData.valueChanges.pipe(first())` and `skip(1)` is needed to to know first value after initialization (for distinct to work) but don't trigger c

[2019-02-28 10:41] amol-barshile commented on #42
npm install --save rxjs-compat
really thanks

[2019-03-15 01:28] rajkaran commented on #82
[code]
This can be used until PR gets reviewed.

[2019-03-21 18:22] Krgauravfreelancer opened #85 "SSR/Universal support for material-community-components"
**Describe the bug**
When I am trying the SSR/universal on angular 7 application, I am getting window is not defined errro.

See Full error
ReferenceError: window is not defined
    at ~\node_modules\material-community-components\bundles\material-community-components.umd.js:2898:14
    at ~\node_modules\material-community-components\bundles\material-community-components.umd.js:2:68
    at Object.<

[2019-03-24 20:44] jobintweets commented on #42
thank you so much. you saved me a lot of time

[2019-04-08 15:11] StickNitro commented on #61
Clicking on `Cancel` also fires the `selected` event

[2019-04-08 15:16] StickNitro opened #86 "Color Picker fires selected event when clicking Cancel"
**To Reproduce**
Steps to reproduce the behavior:
1. Click to open the color picker
2. Select a color
3. Click `Cancel` in the picker
4. The `(selected)` event is emitted

**Expected behavior**
A clear and concise description of what you expected to happen.

I would not expect the `(selected)` event to get emitted since I have canceled the action and therefore **not "selected"** anything

[2019-04-10 20:41] Splaktar opened #87 "docs: router exception with docs site"
**Describe the bug**
Docs content area is blank and the message to pick a component doesn't show up. There is a router exception in the console.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tiaguinho.github.io/material-community-components/material-community-components/
2. Open DevTools Console
3. Note that content area is blank and the message to pick a component doesn't sh

[2019-04-18 11:37] juaal12 opened #88 "Binding the colorPicker to an input in a Template-Driven Form"
**Describe the bug**
When connecting the color picker to an input in a template-driven form and trying to validate the formControl and show a possible form error using mat-error, it does not work.

**To Reproduce**
Steps to reproduce the behavior:
[code]
Now in your typescript:

`color: ["", Validators.required]`

Select a color and after that delete text in color text-input.

**Expected behavior*

[2019-05-02 13:27] Tirabuchi commented on #62
Also, convert isn't correct as you cannot get time between 00:00 and 1:00 (12 and 1 am)

![bug1](https://user-images.githubusercontent.com/46051367/57078502-b10dd200-6cee-11e9-9e0b-cb14d3c4b539.png)

[2019-05-02 20:50] tiaguinho commented on #80
@bunjiboys can you show how you wrote your test?

[2019-05-02 22:41] bunjiboys commented on #80
I took a couple minutes and looked a bit more at it, and it seems that if I do the imports as
[code]
it fails wit the error listed, which is a new behavior since 3.3.1 works just fine importing the module this way. However, if I change it to
[code]
it will work with 3.4.0, but the change doesn't seem to be documented and the API documentation only states that its an option to use the `forRoot` cla

[2019-05-16 17:22] Splaktar commented on #87
Currently the demo site just doesn't load due to 404s.

[2019-05-16 19:38] #87 closed

[2019-05-16 20:22] Splaktar commented on #87
Looks good now!

[2019-05-18 17:40] tiaguinho opened #89 "What type of components the community wants?"
If you want a component that this Material Community Component doesn't have, this is the right place to ask/vote for new components to be created.

If you see the component in the comments, please vote with a "like" emoji.
If you don't see, just add a comment describing your idea.

[2019-05-18 18:17] Splaktar commented on #89
For the Angular Material community, you can see the top voted feature requests [here](https://github.com/angular/components/issues?q=is%3Aissue+is%3Aopen+sort%3Areactions-%2B1-desc). The number 1 request is the time picker, which you already have. I would suggest looking at the other top requests to see if any of them interest you. Then I would check to see if there is a recent response from the t

[2019-05-20 05:19] #61 closed

[2019-05-20 05:19] #78 closed

[2019-05-20 05:19] #82 closed

[2019-05-20 05:19] #86 closed

[2019-05-21 10:17] StickNitro opened #90 "Display Used colors collection last"
Is there a way to show the Used colors collection last, at present the used colors collection seems to get injected at the beginning, I can hide the used colors and add my own `mcc-color-picker-collection` but when I bind this to `colorPickerService.getColors()` no colors get displayed even though there are colors in the array.

If this is not possible then please consider this a proposal to add a

[2019-06-03 17:56] mfp22 opened #91 "Color text and color button inconsistent in input trigger"
When changing color of an input, the text in the input changes but the color of the button doesn't:
<img width="282" alt="Screen Shot 2019-06-03 at 11 50 43 AM" src="https://user-images.githubusercontent.com/13700926/58823284-8d43f180-85f6-11e9-9f27-e6e9c55df31c.png">

After clicking "Confirm", they become consistent:
![image](https://user-images.githubusercontent.com/13700926/58823384-c714f800-85

[2019-06-04 07:18] ipajonro commented on #46
How much is left to solve this bug?

[2019-06-07 11:11] YZahringer opened #95 "Support Angular 8"
When updating Angular to version 8.0.0, the following error are generated:
`Package "material-community-components" has an incompatible peer dependency to "zone.js" (requires "^0.8.14", would install "0.9.1").`

[2019-06-11 23:15] steveblue opened #96 "MccTimerPickerComponent is not exported"
**Describe the bug**

`import { MccTimerPickerComponent } from 'material-community-components'` results in an Error.

**To Reproduce**
Steps to reproduce the behavior:
`import { MccTimerPickerComponent } from 'material-community-components'`

**Expected behavior**
A clear and concise description of what you expected to happen.
`import { MccTimerPickerComponent } from 'material-community-components

[2019-06-17 17:29] tiaguinho commented on #95
I just publish a new version of the package that supports Angular 8.

[2019-06-17 17:29] #95 closed

[2019-06-21 14:00] demiro commented on #60
what is the status on that? I need to open the color picker on input click... I do something like:

`<mat-form-field appearance="fill" class="full-width-field">
      <mat-icon matPrefix>palette</mat-icon>
      <mat-label>Base color</mat-label>
      <input
        matInput
        placeholder="Hex color"
        [formControl]="themeForm.controls.baseColor"
        autocomplete="off"
        mccC

[2019-06-24 07:02] LukasN commented on #89
It would be great to have a component, that combines date picker of material and a timepicker.  the current workaround for us is to mix your timepicker & material date picker with two trigger buttons. A date time picker that wraps both would be a great help.

[2019-06-26 07:22] Splaktar commented on #89
There has been a lot of interest in a fab-speed-dial (https://github.com/angular/components/issues/860). There are a number of third party implementations in StackBlitz and NPM to use as inspiration. It might be a good fit for this repo as the Components team has no plans to implement this at this time.

[2019-07-03 13:13] malikfaizanhaider commented on #60
`<div class="form-group">
      <mcc-color-picker class="mcc-color-picker mcc-cp-small" colorPickerSelectorHeight="100" mccConnectedColorPicker [mccConnectedColorPickerOrigin]="trigger_3">
      </mcc-color-picker>
      <form novalidate [formGroup]="form">
        <input class="form-control" matInput mccColorPickerOrigin #trigger_3="mccColorPickerOrigin" formControlName="color_3" />
      </form>

[2019-07-03 13:14] malikfaizanhaider commented on #60
Try this.

[code]

[2019-07-04 01:38] mohjache opened #97 "Recent minor version requires angular 8 upgrade"
**Describe the idea you have**
Minor version upgrade breaks Angular 7 dependencies.
Up until 3.4.1, you could use an an angular 7 application, but the most recent minor version upgrades now depend on angular 8 packages.

It would be great to clearly articulate these changes in a changleog or better yet as the dependencies against each version on the npm website

Heres an extract of my dependencies

[2019-07-05 08:00] captaincaius commented on #85
yup i'm seeing this too

[2019-07-05 08:18] captaincaius commented on #85
oddly enough, I only see "window" used in scrollspy, not in mcc-color-picker

[2019-07-07 14:34] YZahringer commented on #95
@tiaguinho Thank you, another dependency warning on core-js update to 3.1.4:

[2019-07-10 20:52] tiaguinho commented on #97
Sorry about that.
You application are in Angular 7 or you have updated?

[2019-07-12 08:47] PiotrFr opened #98 "After upgrade to 5.0.0. Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"
**Describe the bug**
After upgrade from 3.4.3 to 5.0.0. I get "Critical dependency: require function is used in a way in which dependencies cannot be statically extracted"

**To Reproduce**
yarn upgrade material-community-components@^5.0.0
ng serve

**Expected behavior**
success

**Screenshots**
![image](https://user-images.githubusercontent.com/13883511/61115111-09e9ab80-a492-11e9-9f7c-ab5ed60d11

[2019-07-12 09:29] tiaguinho commented on #98
Which components are you using?

[2019-07-12 10:13] PiotrFr commented on #98
only mcc-color-picker

[2019-07-12 18:08] micksatana commented on #98
possible this line cause the error
`import { ViewEncapsulation } from '@angular/compiler/src/core';`
it should be
`import { ViewEncapsulation } from '@angular/compiler';`

[2019-07-12 18:20] tiaguinho commented on #98
Thank you @micksatana for point this error.
@PiotrFr I have released a new version (5.0.1), can you test and give feedback?

Thanks!

[2019-07-12 18:49] micksatana commented on #98
Tested. Confirm it's fixed on `5.0.1`.

Thank you @tiaguinho

[2019-07-12 21:26] #98 closed

[2019-07-25 11:09] devlfm opened #99 "hideTransparent isn't a known property"
Error on console:
Can't bind to 'hideTransparent' since it isn't a known property of 'mcc-color-picker'

I'm using version 5.0.1

[2019-07-25 11:24] tiagoblackcode commented on #99
The `@Input()` name is `hideTransparentUsedColors`. Either a documentation typo or a code one.

[2019-07-25 11:32] douglasward commented on #85
@captaincaius I think is because all the modules are bundled into one bundle. If they were using ng-packagr's "[secondary entrypoints](https://github.com/ng-packagr/ng-packagr/blob/master/docs/secondary-entrypoints.md)" then this would only be a problem when using the scrollspy module. But I guess this is another issue.

@ng-toolkit/universal has a wrapper for window. @tiaguinho would you consider

[2019-07-26 05:33] captaincaius commented on #85
@douglasward yes you're right - there's actually two problems -
1. the legit scrollspy problem, and
2. the fact that all other components have to suffer b/c of it

I ended up forking and pulling off just the component I needed just to get the job done, but eventually I'd like to undo that.

TBH I would personally not like for that dependency added and I like your first suggestion better - packagin

[2019-07-26 07:02] PiotrFr opened #100 "Line from transparent color stay"
I use color-picer on material Expansion Panel.

When I choose transparent color
![image](https://user-images.githubusercontent.com/13883511/61932557-ff480f80-af83-11e9-8cd1-30b3044fd433.png)

and close color-picker the rot line stay.
![image](https://user-images.githubusercontent.com/13883511/61932385-91034d00-af83-11e9-9520-1027ac0d4726.png)

[2019-09-03 08:09] StickNitro opened #102 "Add support to disable click on color picker button"
**Describe the idea you have**
A clear and concise description of what you want to happen.

Could we add an option to the `mcc-color-picker` component to set the component to a `disabled` state which would disable the click event on the color picker button

For my use case I am using the color picker in a form but not bound to a form control (and have no need to be bound to a form control), I can

[2019-09-09 08:05] doczoidberg commented on #36
still no opacity setting?

[2019-09-26 05:47] dysbulic commented on #14
This is tripping me up as well. I'm using Firestore for my data storage and there's a brief lag between instantiating the component and the color coming in.

Is there a way to get a reference to the `MccColorPicker` using the `@ViewChild` directive? I figured I'd update the color manually, but the class isn't included in the module exports.

[2019-10-04 10:01] HighSoftWare96 commented on #75
The Angular Material theme are working only for the TimePicker... Can this be applied also to the ColorPicker and the other components?

[2019-10-10 11:44] aleksandar-kandzhichki opened #103 "Color picker onCancel/onClose output"
**Describe the idea you have**
A clear and concise description of what you want to happen.

I think the color-picker component needs an @Output() or some way to signalize when the user has clicked the cancel and closed the panel.

Currently there is `clickOut`, which does the work for catching close for everything BUT the cancel - if you click cancel, this does not fire but the panel is closed, an

[2019-10-10 11:45] aleksandar-kandzhichki commented on #103
If you are OK with that approach and I am not missing an easy way to catch the "cancel" that already exists, I can make PR for this one

[2019-10-11 19:36] aleksandar-kandzhichki commented on #102
@StickNitro For temporary solution you could try setting css style "pointer-events: none".
Kind of does the same job - stops any events on that HTML element, so the user won't be able to click it to open the panel

[2019-11-04 17:12] chriszrc commented on #89
Popover! It's fairly high on the angular material wishlist, and is such a common component, I find it hard to believe it hasn't been implemented. As the issue notes, it's similar to a mat-menu, except you could position it anywhere around an element you want, and it could contain what content you give it:

https://github.com/angular/components/issues/2691

[2019-11-20 14:32] JamieMcI opened #104 "request(feature:color-picker) Add aria tags to button for a11y"
Add `aria-haspopup="dialog"` to the button inside the mcc-color-picker to convey that a dialog window opens when pressed.

When used in conjunction with an input field (mccConnectedColorPicker), set the `aria-labeledby` property to the connected control.

[2019-11-25 01:06] SilinaGeorge opened #105 "mcc-speed-dial color"
Is there a way to change the color of the speed dial?

[2019-12-23 14:44] DefeninMaxime opened #107 "Angular 9 & Ivy support"
**Describe the bug**
The lib doesn't support build with Ivy engine. Then, `ngcc` can't transform it. The following error appears :

[code]

**To Reproduce**
In project use `material-community-components`, execute: ` ngcc --properties es2015 browser module main --first-only --create-ivy-entry-points --target .\material-community-components\
`

**Expected behavior**
Be compatible with angular 9+ and

[2019-12-27 08:43] freemanlam commented on #107
+1

[2020-01-06 19:09] flaglerkid opened #112 "request(feature:color-picker) Disabled"
It would be amazing if we could pass a disabled boolean to the color picker which would prevent the window from popping up, but would still show the selected color or the color passed to it through the selectedColor interface.

[2020-01-23 08:18] ayeletdn commented on #89
Range slider. The current slider component has a min/max option to prevent getting out of bounds, but if the user wants to set their own boundaries, there's not simple visual component for this.

https://github.com/angular/components/issues/1331

[2020-01-29 15:12] chriszrc commented on #36
Or even an opacity/alpha slider? I'm looking to have something like this:

<img width="239" alt="Screen Shot 2020-01-29 at 10 12 12 AM" src="https://user-images.githubusercontent.com/25695785/73368972-df214200-427f-11ea-8cb7-7a33762f5f0e.png">

[2020-02-07 08:56] damingerdai commented on #107
angular 9 is release, so please merge

[2020-02-10 22:15] cobaki commented on #107
Any progress on this?

[2020-02-11 17:14] StickNitro opened #114 "Internationalization"
Provide i18n support for internationalization, this could be provided similar to MatPaginator for example (https://material.angular.io/components/paginator/overview).

For the `mcc-color-picker` for example, a `MccColorPickerIntl` class is provided by the module with default `en` language values, this allows consumers to provide their own implementation of `MatColorPickerIntl` if using a language

[2020-02-12 10:19] fonzzzde commented on #107
Could you let us know when this will be released? I'm using the color picker and would like to migrate to angular 9, but this component is holding it back. Thanks!

[2020-02-12 10:42] damingerdai commented on #107
i have created a pr being reviewing. please wait for a moment

[2020-02-12 10:49] fonzzzde commented on #107
Thanks a lot for your response!

[2020-02-12 20:10] #107 closed

[2020-02-12 20:29] #70 closed

[2020-02-12 20:33] tiaguinho commented on #107
Hi guys, sorry for the delay, and thanks @damingerdai for the PR.
The new version is released!

ENJOY!

[2020-02-13 10:51] armenstepanyan opened #116 "Transparent bar for color-picker"
Add transparent option for colorpicker. In current version i can't set  opacity(RGBA) for selected color.
[Example ](http://prntscr.com/r1pmep)

[2020-02-13 18:59] progmancod opened #117 "Angular 9 is not working after 6.0.0 (ivy-ngcc)"
Bug:

No suitable injection token for parameter 'changeDetectorRef' of class 'MccColorPickerCollectionComponent'.
no type or decorator
npm ERR! code ELIFECYCLE
npm ERR! errno 1
npm ERR! supp-administrativo-frontend@0.0.1 postinstall: `ivy-ngcc`
npm ERR! Exit status 1
npm ERR!
npm ERR! Failed at the supp-administrativo-frontend@0.0.1 postinstall script.
npm ERR! This is probably not a problem with

[2020-02-19 12:21] #117 closed

[2020-02-19 12:21] progmancod commented on #117
works after angular 9.0.1

[2020-03-02 00:52] AsmisAlan opened #118 "Angular 9 - can't resolve 'rxjs/BehaviorSubject'"
**Describe the bug**
Hello, after installing your library and including it in one of my modules, the console throws an error related to rxjs.

**To Reproduce**
Steps to reproduce the behavior:
1. Install the library.
2. Import in one of your modules (in my case a shared one).
3. run the 'ng serve' command.

**Error**
![image](https://user-images.githubusercontent.com/14351502/75637631-76bedb00-5c0

[2020-03-04 21:45] newmanw opened #119 "Does not build with angular 8 - An accessor cannot be declared in an ambient context."
**Describe the bug**
Building throws the following errors:

ERROR in node_modules/material-community-components/color-picker/color-picker-collection.component.d.ts:10:9 - error TS1086: An accessor cannot be declared in an ambient context.

10     set hideEmpty(value: boolean);
[code]
node_modules/material-community-components/color-picker/color-picker-selector.component.d.ts:29:9 - error TS1086: A

[2020-03-17 21:43] astone2014 commented on #116
Looks like you can do a transparent color but there is no variable slider.

[2020-03-26 20:39] sebrojas14 opened #121 "Angular 9.1 broken"
**Describe the bug**
Broken after angular 9.2 upgrade. v6.0.0

**Screenshots**
![image](https://user-images.githubusercontent.com/1771574/77694339-d98e6280-6f77-11ea-937c-bd7af04577fa.png)

[2020-03-27 14:58] #97 closed

[2020-03-27 15:05] tiaguinho commented on #118
Hi @AsmisAlan

Did you try to update your rxjs version?
I saw that you are using ```"rxjs": "~6.4.0"``` and material community components use ```"rxjs: "^6.5.4"```

[2020-03-27 18:16] tiaguinho commented on #119
Which material community component version are you using?

[2020-03-27 20:16] tiaguinho commented on #121
Hi @sebrojas14
I just upgrade our demo-app to Angular 9.2 and did not have these errors.
Can you test again? But first, please remove ```node_modules``` and ```yarn.lock```.

Let me know if this fix your problem.

[2020-03-30 16:58] newmanw commented on #119
Color Picker

[2020-04-01 09:37] tiaguinho commented on #119
@newmanw which version? 6.0.0?

[2020-04-01 13:20] newmanw commented on #119
Yes, 6.0.0

[2020-04-01 15:45] sebrojas14 commented on #121
9.2 or 9.1?

[2020-04-03 17:17] tiaguinho commented on #121
Angular to 9.1, which is the lasted release.
Material to 9.2, which is the lasted release.

Which versions are you using?

[2020-04-03 17:19] tiaguinho commented on #119
Version 6.x was released to work with Angular 9.x.
Can you upgrade your app and try again?

Thank you.

[2020-04-03 17:24] newmanw commented on #119
@tiaguinho I can at some point, however I am not quite ready to upgrade.  I tried running with version 5.x since I am on angular 8.  However I ran into problems with that well.  Currently it does not seem there is a released version I can use with angular 8.

[2020-04-03 18:10] tiaguinho commented on #80
@bunjiboys this is still happening in v6.0.0?

[2020-04-03 19:30] tiaguinho commented on #103
I'll try to implement this next week.
But few free to implement if you want.
I'll be very happy to receive your contribution.

[2020-04-03 21:17] tiaguinho commented on #119
@newmanw what version of typescript are you using?

[2020-04-05 09:56] PiotrFr commented on #100
@tiaguinho, sorry, I don't use your library in expansion panel anymore.

[2020-04-05 14:59] tiaguinho commented on #100
Thanks for the reply.

[2020-04-05 14:59] #100 closed

[2020-04-09 09:11] #77 closed

[2020-04-09 09:11] #96 closed

[2020-04-09 09:11] #99 closed

[2020-04-09 12:03] tiaguinho commented on #84
![](https://github.trello.services/images/mini-trello-icon.png) [Improving 24h formatting](https://trello.com/c/U3DQrTRn/5-improving-24h-formatting)

[2020-04-09 12:04] tiaguinho commented on #114
![](https://github.trello.services/images/mini-trello-icon.png) [Internationalization](https://trello.com/c/re2mdDdM/6-internationalization)

[2020-04-10 18:52] jordandh opened #123 "Use of ::ng-deep is applying styles globally"
**Describe the bug**
The color-picker and timer-picker components are using the ::ng-deep selector to apply styles to material components globally.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to mcc documentation website
2. Go to the timer-picker example
3. Open a timer-picker
4. Inspect a mat-icon-button in the timer-picker
5. Scroll through the styles until you find global styles be

[2020-04-13 11:07] sunitharb commented on #103
Much awaited.

[2020-05-15 09:49] Rennnyyy opened #124 "MCC-Color-Picker: Feature Request: Add cancel event"
Hey there,

I need to hook the (cancel) event on the Color-Picker module. The problem is, it isn't exposed as far as I see. Therefore, I request this as new feature.

Afaik, it should be as simple as adding the following to color-picker.component.ts:
-  @Output() cancel = new EventEmitter(); (somewhere around line 222)
- this.cancel.emit(null); (after line 352)

Thanks in advance :)

[2020-06-17 17:29] #118 closed

[2020-06-17 17:30] #119 closed

[2020-06-17 17:30] #121 closed

[2020-06-19 18:46] tiaguinho commented on #114
You can do this using the ```btnConfirm``` and ```btnCancel``` inputs.
example:

[code]
or
[code]

***In version 6.1.0 ```btnConfirm``` and ```btnCancel``` will be changed to ```btnConfirmLabel``` and ```btnCancelLabel```.***

[2020-06-19 18:46] #114 closed

[2020-06-22 20:29] #60 closed

[2020-06-22 20:30] #66 closed

[2020-06-22 20:30] #80 closed

[2020-06-22 20:30] #69 closed

[2020-06-22 20:39] #123 closed

[2020-06-22 20:39] #105 closed

[2020-06-24 09:55] #112 closed

[2020-06-24 20:19] tiaguinho opened #128 "feat: Add timer-picker to official material Datepicker component"
Since Angular Team doesn't have plans to implement this feature in a near future, the idea is to extend official Datepicker component to add a timer-picker

related to: https://github.com/angular/components/issues/5648

[2020-06-25 21:11] #62 closed

[2020-06-25 21:12] #84 closed

[2020-06-26 09:10] #53 closed

[2020-06-29 12:16] #103 closed

[2020-06-29 12:16] #124 closed

[2020-06-29 14:45] tiaguinho commented on #116
I'm working on this.
Trying to launch in the next minor release.

[2020-06-30 09:56] motabass opened #129 "request(feature:color-picker) Customizable selected color icon"
**There should be a way to use color-picker without material-icon-font loaded**
Because in our Project we do not use the Material-Icon-Font due to only using SVGs for icons it would be great if we could change the icon shown on the currently selected color in the picker to any other mat-icon using an SVG. Rigth now material icon "done" is used but shows up as "done"-text when material-icon-font is

[2020-07-02 09:55] motabass opened #131 "Cut-off digit in color-picker RGB inputs"
**Describe the bug**
RGB input-fields cut off values with 3 digits

**Expected behavior**
All 3 digits schould be fully visible

**Screenshots**
![image](https://user-images.githubusercontent.com/4824274/86344554-afc19780-bc5a-11ea-9bb7-a9eec7810a6b.png)

**Desktop (please complete the following information):**
 - OS: Windows 10 2004
 - Browser Chrome 83
 - Version 7.0.0

[2020-07-07 20:02] #131 closed

[2020-07-07 20:02] tiaguinho commented on #131
Will be released in V6.2.0

[2020-07-07 20:13] #129 closed

[2020-07-07 20:20] tiaguinho opened #133 "feature(color-picker): Option to disable selected icon"
Add an option to MCC config module to disable color-picker selected icon

[2020-07-07 20:21] #133 closed

[2020-07-07 20:23] tiaguinho commented on #129
Hi @motabass
As you can see on the related commit, I implement a way to change the selected color icon.
On #133 I also implement an option to disable the selected icon.

Let me know if this solve your problem.

[2020-07-10 10:10] motabass commented on #129
Hi @tiaguinho

Thanks for your work. This solves our Problem by being able to disable the icon. Though it would be awesome if we could use any SVG registered in **MatIconRegistry**, not only Material-Font-Icons because we don't use the Material-Font at all.

[2020-07-10 10:18] motabass commented on #131
Isn't 7.0.0 the latest Release?

[2020-07-10 11:32] tiaguinho commented on #129
You can register SVG in MatIconRegistry https://material.angular.io/components/icon/overview#svg-icons.
If you do this, you can use the icon as SELECTED_COLOR_ICON.

You can test this possibility by cloning the repository and trying on the demo app.

Can you make this test?

Thank you.

[2020-07-10 11:33] tiaguinho commented on #131
Yeah... Sorry
I just change the milestone name and fix my comment.
Will be released in v7.1.0

[2020-07-10 13:09] francovp commented on #128
Google Cloud Platform has his own DateTime Picker
That platform uses Angular and Material isn't ? And it's from Google.

Maybe they can share it with us?

![image](https://user-images.githubusercontent.com/2883350/87157568-76a5aa80-c28c-11ea-9f4f-5127e5504ee1.png)

 Also has a nice timezone picker

![image](https://user-images.githubusercontent.com/2883350/87157722-a6ed4900-c28c-11ea-9028-2f7dff7f

[2020-07-10 21:08] motabass commented on #129
I think it should not work with SVG the way its implemented right now. Check the SVG example here: https://material.angular.io/components/icon/examples

it uses **svgIcon**-Input for SVG. Font ligatures only work with icon fonts as statet here:
https://material.angular.io/components/icon/api#MatIcon

[2020-07-16 18:55] Splaktar commented on #89
This is now available here: https://tiaguinho.github.io/material-community-components/speed-dial

[2020-07-16 19:13] Splaktar commented on #89
It would be nice to have these
- Bottom Nav like requested in https://github.com/angular/components/issues/408
- Top App Bar as requested in https://github.com/angular/components/issues/13964
- Bottom App Bar as requested in https://github.com/angular/components/issues/16367

[2020-07-17 08:37] motabass commented on #129
Are you looking into this or should i maybe make a pull request for the SVG-Feature?

[2020-07-17 08:44] tiaguinho commented on #129
Please open a new issue.
I'll try to implement this feature today. 😉

[2020-07-17 12:32] motabass opened #134 "request(feature:color-picker) Support SVG registered in MatIconRegistry for selected-color-icon"
Custom icons for the selected color does not work with SVGs the way its implemented right now.

Check the SVG example here: https://material.angular.io/components/icon/examples

mat-icon uses svgIcon-Input for SVG. Font ligatures only work with icon fonts as stated here:
https://material.angular.io/components/icon/api#MatIcon

So it would have to be
<mat-icon *ngIf="selectedColor === color; else e

[2020-07-17 12:33] motabass commented on #129
Thats great! I opened the Issue:

https://github.com/tiaguinho/material-community-components/issues/134

[2020-07-17 12:37] motabass commented on #134
There might also be another approach to the Problem by using a Template for the Icon like MatStepper does:

https://material.angular.io/components/stepper/overview#overriding-icons

[2020-07-17 13:59] tiaguinho commented on #116
Will be available in [v7.1.0](https://github.com/tiaguinho/material-community-components/milestone/5)

[2020-07-17 13:59] #116 closed

[2020-07-17 13:59] tiaguinho commented on #36
Will be available in [v7.1.0](https://github.com/tiaguinho/material-community-components/milestone/5)

[2020-07-17 13:59] #36 closed

[2020-07-17 20:33] tiaguinho commented on #134
I implemented this as a module configuration.
Example:

[code]

This feature will be available at [v7.1.0](https://github.com/tiaguinho/material-community-components/milestone/5)

[2020-07-17 21:22] motabass commented on #134
Hi. Can i reference an icon already registered in MatIconRegistry by name this way?

[2020-07-17 22:25] motabass commented on #134
I opened a pull request:)

[2020-07-18 13:49] motabass commented on #134
I also fixed missing InjectionToken for selected-color-svg-icon in the color-picker tests

[2020-07-18 14:46] motabass commented on #134
Oh no. I just tried my implementation linked to my project and it wont work because mat-icon inside the library-template somehow does not find the named icon. I just don't get why this happens. Seems as if MccColorPickerModule has its own instance of MatIconRegistry...do you have any idea why this happens?

[2020-07-19 10:31] motabass commented on #134
Seems as if the Problem came from linking the library with npm link

[2020-07-19 11:31] motabass commented on #134
Can you link PRs https://github.com/tiaguinho/material-community-components/pull/136 and https://github.com/tiaguinho/material-community-components/pull/135 to this Issue?. I think we should then be able to close it;)

[2020-07-19 15:06] motabass commented on #58
This should be fixed in https://github.com/tiaguinho/material-community-components/pull/136/commits/08b89022c5d85e60e637993e7f72ea39fa3d9929 inside https://github.com/tiaguinho/material-community-components/pull/136

[2020-07-19 15:22] motabass commented on #41
I tried to align the selection area to fit the canvas exactly in https://github.com/tiaguinho/material-community-components/pull/136/commits/08b89022c5d85e60e637993e7f72ea39fa3d9929 but it still tends to be 1 off when picking right at the border. Maybe its only fixable by tweaking the gradient inside the canvas itself?

[2020-07-19 15:32] motabass commented on #57
This is also true for the base-color-picker. The picker areas never get update by input (R,G,B and Hex) value changes and also not when opening up with a color pre-set.

Enabling this would really help the usability. It may involve some calculations though to get the X and X Position from the colors RGB values. Having a fixed px size for the selection areas, like it is right now, it should be not

[2020-07-19 15:37] motabass commented on #14
I really think this is a duplicate of https://github.com/tiaguinho/material-community-components/issues/57

[2020-07-19 21:46] motabass commented on #41
This should already be fixed in 08b8902

[2020-07-20 11:48] motabass opened #137 "request(feature:color-picker) make base color slider and color selection block draggable on touch devices"
Right now it is only possible to select a color by tapping not by dragging.

[2020-07-20 16:00] motabass commented on #57
Setting the slider from values 0 - 1 shold be the simplest task. To set the hue/base-color-slider one could convert the RGB to HSL and use the H-value to set the position.

[2020-07-20 16:22] motabass commented on #57
I also found a nice resource for how to convert eg. RGB to HSL

https://css-tricks.com/converting-color-spaces-in-javascript/

[2020-07-20 19:00] motabass opened #138 "request(feature:color-picker) still control selectors when leaving selection area"
The selectors and sliders should behave like in this picker when leaving the selector area with mouse button still down:

https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Colors/Color_picker_tool

[2020-07-22 18:13] tiaguinho commented on #102
@StickNitro ```disabled``` attribute is implemented on the component now.

[2020-07-22 18:13] #102 closed

[2020-07-22 19:01] #90 closed

[2020-07-23 16:57] #41 closed

[2020-07-23 16:57] #58 closed

[2020-07-23 16:57] #134 closed

[2020-07-23 18:59] #3 closed

[2020-07-23 23:43] motabass opened #140 "request(feature:color-picker) Support different color formats than HEX"
There should be the possibility to configure the format of the color-code input currently only supporting hex.

Following formats could be support depending on if alpha selector is enabled:

**Non alpha:**

- hex: #ffffff
- rgb: rgb(255,255,255)
- hsl: hsl(360, 100%, 100%)
- hsv: hsv(360, 100%, 100%)

**With alpha:**
- hexa: #ffffffff
- rgba: rgba(255,255,255,1)
- hsla: hsla(360, 100%, 100%, 1)
-

[2020-07-24 00:01] motabass opened #141 "bug(color-picker): RGB-Inputs not updating when color set via HEX-Input"
**Describe the bug**
When the color is changed from the hex input fild the R- G- and B-Fields do not get updated. vice versa it is working.

**Expected behavior**
The inputs should be updated with the RGB representing the hex value

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/4824274/88349808-6ba14e80-cd51-11ea-9bf

[2020-07-24 06:24] motabass commented on #57
I already got it to work. I just had to change the gradients on the selection block a little bit to fit S and L values.

I would really consider pulling in https://www.npmjs.com/package/tinycolor2 and using it's color class to keep the current color. It supports parsing all kinds of color strings as well as converting them.

I think many feature implementations could very much profit of the conven

[2020-07-24 10:56] motabass commented on #57
https://github.com/tiaguinho/material-community-components/pull/142

[2020-07-24 12:00] motabass commented on #141
resolved in #142

[2020-07-24 12:31] motabass commented on #140
prepared by #142

[2020-07-24 12:52] motabass commented on #14
I am still not sure what the expeceted behaviour is here exactly

[2020-07-26 23:53] motabass opened #143 "bug(color-picker): 2 colors in different collection can have a selected-icon at the same time"
![image](https://user-images.githubusercontent.com/4824274/88492584-f7161c00-cfab-11ea-94ce-eca73601d722.png)

[2020-07-27 20:56] #143 closed

[2020-07-28 13:38] tiaguinho opened #144 "refactor: separate imports to generate small bundle"
Separate export of modules to generate small bundle.

[2020-07-28 19:41] #144 closed

[2020-07-29 00:41] motabass commented on #140
in #142 there is only support for rgba and hex6 as component-input-strings not inside the hex input of the picker. I#d like to tackle this in another PR.

[2020-07-29 00:49] motabass commented on #14
...i think i got it now. What @jensdc92 meant was that when while changing the color in the color picker also the color here
![image](https://user-images.githubusercontent.com/4824274/88743850-0a5cef00-d146-11ea-8e28-d1f75a1eb754.png) should be updated imediatly

[2020-07-29 01:26] motabass opened #145 "request(feature:color-picker): option to choose between HSV and HSL gradient block"
Being able to configure how gradient block is shown

HSV:
![image](https://user-images.githubusercontent.com/4824274/88745765-18f9d500-d14b-11ea-92e5-cbfd2574cd89.png)

HSL:
![image](https://user-images.githubusercontent.com/4824274/88745852-49da0a00-d14b-11ea-8d76-16b58de14368.png)

[2020-07-29 02:04] motabass opened #146 "No selected color icon in object collections"
![image](https://user-images.githubusercontent.com/4824274/88748118-865c3480-d150-11ea-9654-735d34ba013d.png)

[2020-07-29 02:08] motabass opened #147 "Changing the color does not remove the selected color icon"
![image](https://user-images.githubusercontent.com/4824274/88748386-2f0a9400-d151-11ea-9308-3146d49acfcc.png)

[2020-07-29 02:38] motabass commented on #147
fixed by https://github.com/tiaguinho/material-community-components/pull/142/commits/04566a5451f44d16eb9d11a74c31f0dad038fbec

[2020-07-29 03:01] motabass commented on #146
fixed by https://github.com/tiaguinho/material-community-components/pull/142/commits/4b91b99a1b902665fdb05c659d8710ef45b5f742

[2020-07-29 03:45] motabass opened #148 "request(feature:color-picker): Color-Picker on Input without separate color-box"
It should be possible to add the picker to an input-field without showing the color-box. Opening the Picker-Modal should be triggered by click in the input.

[2020-07-29 08:28] tiaguinho commented on #14
Can't be this @motabass
Is change only after confirm or if buttons are disabled.
I'm trying to fix this issue.

[2020-07-30 03:00] motabass commented on #138
fixed in
9ca27c4 inside #142

[2020-07-30 04:14] motabass commented on #137
fixed in 9578319 inside #142

[2020-07-30 06:35] motabass commented on #91
fixed in 96895bbb786032021cec2ac9d9d87e140190dcca inside #142

[2020-07-30 19:14] #91 closed

[2020-07-30 19:14] #137 closed

[2020-07-30 19:14] #138 closed

[2020-07-30 19:14] #141 closed

[2020-07-30 19:14] #146 closed

[2020-07-30 19:14] #147 closed

[2020-07-30 19:15] #57 closed

[2020-08-03 12:20] motabass opened #150 "Package build is failing"
When i try to build the package using the "packgr" script from package.json on cuurent master branch i get the following error:

[code]

![image](https://user-images.githubusercontent.com/4824274/89181680-8024e880-d594-11ea-8f11-1adc0bdee46a.png)

[2020-08-03 12:24] motabass commented on #140
Different color string formats for inputs and outputs are supported with https://github.com/tiaguinho/material-community-components/pull/149.

The format on the ui still is hex(a) and rgb(a), where support for hex8 (#FFFFFFFF) is now also supported

[2020-08-03 12:49] tiaguinho commented on #150
I'm working on this.

[2020-08-07 16:29] motabass opened #152 "Consider migrating to nx-workspace"
Did you consider using https://github.com/nrwl/nx ?

It adds great tooling on top of the angular cli and makes handling multible libraries very simple.

Maybe it would be a good idea to split the material-community-components into separate scoped npm packages like that: @mcc/color-picker, @mcc/time-picker etc.

That way you also don't have to mess around with secondary entry-points in packgr. (Tho

[2020-08-07 18:19] #140 closed

[2020-08-07 18:33] tiaguinho opened #153 "bug(color-picker): cancel doesn't update selected color"
I have a selected color.
Change de color and click on the cancel button.

When I open the color-picker again, the color with the selected icon is the choice not confirmed.

[2020-08-07 18:33] #153 closed

[2020-08-07 19:29] motabass commented on #152
#85 is also talking about problems with the way all components being packaged together.

[2020-08-07 19:33] motabass commented on #152
#150 seems to be ralted to this

[2020-08-07 19:38] #150 closed

[2020-08-07 19:40] tiaguinho commented on #85
Components will be build separated in version 7.2.0.

[2020-08-07 19:40] #85 closed

[2020-08-07 19:45] tiaguinho commented on #14
@motabass I think the refactor you have done fix this issue.
What do you think?

[2020-08-07 19:50] tiaguinho commented on #152
I like your idea.
My [last commit](https://github.com/tiaguinho/material-community-components/commit/ab6594eece4bc743d5df1dba9592351e40e121c3) will separate the components for the next version, but I think we maybe add NX and refactor the folder structure for version 8.

What do you think @Splaktar ?

[2020-08-07 23:43] Splaktar commented on #152
Your last commit and work towards making each component a separate module is important.

I don't think that it's worth it to publish the modules to separate packages on NPM.

I like the idea of using Nx, but I don't think that we should make every module a separate library.

[2020-08-08 11:05] motabass commented on #14
I am still not sure what the expected behaviour is?

[2020-08-11 10:51] motabass opened #155 "feature(color-picker): Support configuration of alpha-selector and color-string-fomat via component-inputs"
Global configured COLOR_STRING_FORMAT and ENABLE_ALPHA_SELECTOR should be overwritable on component level via component @Input().

So one can use color-pickers with different formats side-by-side in the same parent component more easy.

[2020-08-11 13:52] #155 closed

[2020-08-14 15:22] DefeninMaxime opened #156 "[ColorPicker] click on strict corner is difficult"
**Describe the bug**
It's very difficult to get a color in corner of picker. For example rgb(255,255,255) at top left corner.

**To Reproduce**
Steps to reproduce the behavior:
1. Open color picker
2. Click on the corner left top (for example)

**Expected behavior**
I could choose a color in corner.

[2020-08-14 15:32] motabass commented on #156
Thats still true in current master. The Problem seems to be that it's impossible to sample pure white or black from the canvas.

I will try to fix this by some cheating;)...

[2020-08-14 19:59] #156 closed

[2020-08-15 21:35] motabass opened #159 "time-picker: wrong digit position when only one digit"
![image](https://user-images.githubusercontent.com/4824274/90322074-06a3d780-df50-11ea-94fa-a7cf4a33079a.png)

When hour has only one digit, prevent the spacing shown in the screenshot

[2020-08-15 21:40] motabass opened #160 "request(feature:time-picker): Support time format with leading zero in hours"
add configuration to enable leading zeros in hours like **04:20 pm** or **01:30**

[2020-08-15 21:57] motabass commented on #159
fixed by 0a05adf

[2020-08-17 10:16] motabass commented on #152
@tiaguinho right now there seems to be a problem with the way the lib is packaged. When i try to consume the lib built from current master i get the following error from ngcc:

[2020-08-18 09:41] motabass opened #161 "color-picker, timer-picker: Use same round corners and elevation like datepicker from @angular/material"
![image](https://user-images.githubusercontent.com/4824274/90497811-cdce5300-e147-11ea-8d62-7dcd5db575d4.png)

[2020-08-18 09:42] motabass commented on #161
fixed in #158

[2020-08-18 09:45] motabass opened #162 "Do not load additional google-fonts"
The color-picker use **Open Sans** loading dynamically from Goole-Fonts right now. I doesn't seem necessary because default **Roboto, sans-serif** looks good too.

[2020-08-18 09:45] motabass commented on #162
fixed in #161

[2020-08-18 09:47] motabass opened #163 "Refactor to default @angular/cli folder structure"
Use the default **/packages**-folder provided by the angular-cli to make further migration to nx easier.

[2020-08-18 10:16] motabass opened #164 "Show chessboard pattern behind alpha colors in preview and button"
Preview:
![image](https://user-images.githubusercontent.com/4824274/90499190-86e15d00-e149-11ea-96a3-f70d6890df60.png)

Button:
![image](https://user-images.githubusercontent.com/4824274/90502220-c4e08000-e14d-11ea-90a7-bc6fa1905734.png)

Collor-Collection-Buttons:
![image](https://user-images.githubusercontent.com/4824274/90526561-d5eeb880-e170-11ea-8f53-2268f0a9c358.png)

[2020-08-18 10:47] motabass commented on #163
done in #165

[2020-08-18 10:47] motabass commented on #164
done in #165

[2020-08-18 12:05] motabass opened #166 "Package with secondary entry-points doesn't seem to work in Angular 10"
When i use packgr to build the lib, npm pack to package it and then install it in my application with npm install ngcc throws an error in the postinstall build-script.

@tiaguinho may you please check if you experience the same problem?

[2020-08-19 17:09] motabass commented on #152
#166

[2020-08-19 17:20] #148 closed

[2020-08-19 17:20] #159 closed

[2020-08-19 17:20] #161 closed

[2020-08-19 17:20] #162 closed

[2020-08-19 18:35] Splaktar commented on #166
What is the error?

[2020-08-20 09:33] motabass commented on #166
When i link the lib with npm link i get the following:

` ERROR in node_modules/material-community-components/color-picker/color-picker.module.d.ts:3:22 - error NG6002: Appears in the NgModule.imports of AppModule, but could not be resolved to an NgModule class.

    This likely means that the library (material-community-components/color-picker) which declares MccColorPickerModule has not been pro

[2020-08-20 09:36] Splaktar commented on #166
Did you run `ngcc` before trying to npm link?

[2020-08-20 10:03] motabass commented on #166
No it runs automatically after linking when i start the app. Strangely 2 days ago i was also getting an error from ngcc like 'circular dependencies in source-maps' but that seems to be gone now since i removed all exports from the primary entry point and having only secondary ones.

[2020-08-20 10:47] motabass commented on #166
I worked out the Problem. There where just missing some exports in color-picker's public-api which caused `ngcc` to NOT compile this one entry-point. After adding these all work just fine!

BTW: Does `ngcc` have problems with a combined primary entry-point and same code in secondary entry-points at the same time?

[2020-08-20 10:50] motabass commented on #166
fixed in #165

[2020-09-01 22:30] MoishyBL commented on #89
Bottom Drawer https://material.io/components/navigation-drawer#bottom-drawer

![image](https://user-images.githubusercontent.com/67913260/91912467-30b00600-ec81-11ea-9054-469ae797714f.png)

[2020-09-02 01:05] sebrojas14 opened #167 "Last color on colors list doesnt' select"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Instead of the selected color from preloaded palette via [colors] input, the selector y loading another ramdom color. **This only happens with the penultimate color in the list.**

**Expected behavior**
The color selected should be selected

**Screenshots**
If applicable, add screenshots to help explain your

[2020-09-02 01:16] motabass commented on #167
This is fixed already in current master, So it will work in thr next release

[2020-09-02 11:17] jolle-c opened #168 "MCC does not work with older versions of Angular"
It appears it's not possible to use MCC on an older version of Angular. Due to dependency of other plugins that are not yet upgraded to Angular 9-10 we can't upgrade Angular. We're for the time being stuck on Angular 8. Unfortunately MCC seems to require Angular 10. That's a pity. Would increase its usability if it supported older versions as well.

The errors we get when running ng serve are all

[2020-09-03 10:47] motabass commented on #168
What version of typescript do you use? It seems like the problem is related to newer typescript feature not being supported.

[2020-09-09 07:21] sebrojas14 commented on #167
I did more tests. Appareantly, is not with certains position on the array. Instead, with some colors.
![ezgif com-gif-maker](https://user-images.githubusercontent.com/1771574/92567368-34282c00-f243-11ea-8bc1-18408fd65add.gif)

[2020-09-09 07:28] sebrojas14 commented on #167
when?

[2020-09-09 14:02] #163 closed

[2020-09-09 14:02] #164 closed

[2020-09-16 12:26] motabass commented on #167
@tiaguinho when do you plan to make the 9.0.0 Release?

[2020-09-17 10:40] tiaguinho commented on #167
@motabass today :smiley:

[2020-09-20 09:51] motabass opened #169 "Update demo to latest release"
Right now the demo linked in README.md is still is on 7.0.0.

@tiaguinho coulkd you please make a new build of the demo? Or maybe do some automatic pipeline when doing a release?

[2020-09-20 10:37] motabass opened #170 "feature(color-picker, time-picker): Provide mobile variant of picker popup"
Right now using the pickers on small mobile devices can get cut off:
![image](https://user-images.githubusercontent.com/4824274/93709339-ef9f6900-fb3d-11ea-9dd6-0427be12a106.png)

MatDatePicker solves this by using a centered popup for mobile devices

[2020-09-20 10:39] motabass commented on #167
@sebrojas14 can you confirm that this is fixed in the latest release?

[2020-09-20 10:40] motabass commented on #166
This can be closed due to having working secondary-entry-points in 9.0.0

[2020-09-20 10:41] motabass commented on #14
Anyone can confirm if this is fixed in release 9.0.0?

[2020-09-20 11:58] #152 closed

[2020-09-20 11:59] #166 closed

[2020-09-20 12:04] tiaguinho commented on #169
Sorry for forgetting about it.
I was a little bit sick for the last days.

Now it's updated.

Thank you!

[2020-09-20 12:04] #169 closed

[2020-09-21 09:28] sheikalthaf opened #171 "updating to latest version fails to compile and error as dependency missing"
**Describe the bug**
after upating to latest version I'm getting this error
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete t

[2020-09-21 10:05] lippomano commented on #171
Same error here, old import seems not exists anymore (in the doc I still see the v7 with this import:
`import {MccColorPickerModule} from 'material-community-components'` )
With the new import I have the same missing dependencies
Already tried to delete node modules but nothing changed.
I have angular 10.1.2

[2020-09-21 15:08] motabass commented on #171
Hi. There is in fact a new peer dependency not packaged with the lib `@thebespokepixel/es-tinycolor` used for all the color calculations in the color-picker. This is missing in the docs and README.md and also the docs and demo are still on 7.0.0. The breaking change about secondary imports should have been statet in the changelog. Sorry for that.

@tiaguinho can you update the demo? I can take car

[2020-09-21 15:29] motabass opened #172 "feature(color-picker): Support theme in color-picker"
Support theming the color-picker like for the timer-picker.

It would also be a good idea to split `mcc-theme` into smaller includes for each component like `mcc-color-picker-theme` and `mcc-timer-picker-theme`.

[2020-09-21 16:07] motabass commented on #169
Hi @tiaguinho
 hope you are doing well again.

The demo still seems to be the old one.

[2020-09-21 16:13] motabass commented on #171
https://github.com/tiaguinho/material-community-components/pull/173

[2020-09-21 22:21] jordandh commented on #171
It looks like you import from subfolders now:
`import { MccColorPickerModule } from 'material-community-components/color-picker';`

[2020-09-22 07:05] striky1 commented on #66
Hi 👋 @tiaguinho,

sorry for late response. I checked it on version `7.1.0` and it's worse than before.

Right now User is not able to reset value in Reactive Form Fields at all. If User will use backspace, Form Field will have value as shorthand of some color. If User will select whole value and then hit delete/backspace button, Form Field will have same value as before.

StackBlitz: https://stack

[2020-09-22 14:12] motabass commented on #171
Thats correct

[2020-09-24 13:16] motabass opened #174 "Demo and docs are still on version 7.0.0"
https://tiaguinho.github.io/material-community-components/

[2020-09-25 21:53] jamesrusso opened #175 "Color picker is cut off side of page when there is not enough room."
**Describe the bug**
Color picker can get cut off in certain situations.

**To Reproduce**
Setup a color picker and center it on screen, make the viewport smaller (like for an iphone) and you will see that the color selector is sliced off. See screenshot below.

**Expected behavior**
the overlay should not get cut off? Perhaps it should be centered on screen?

**Screenshots**

<img width="540" alt

[2020-09-27 00:39] motabass commented on #175
https://github.com/tiaguinho/material-community-components/issues/170

[2020-09-27 01:35] jamesrusso commented on #175
Closed as dupe. Sorry!

[2020-09-27 01:35] #175 closed

[2020-09-27 01:37] jamesrusso commented on #170
I agree that simply centered would be the reasonable solution here and it should be possible to just use the underlying CDK overlay functionality "centerHorizontally" & "centerVertically" for certain viewport sizes maybe?

[2020-09-28 08:05] motabass commented on #66
@striky1 did you also try 9.0.0?

[2020-09-28 08:46] motabass commented on #66
Seems as if it's gone in 9.0.0:

https://stackblitz.com/edit/angular-ivy-w3zrem?file=src/app/app.module.ts

[2020-09-29 11:21] striky1 commented on #66
👋 @motabass,

yep, it's gone. I tested it in our App and newest version fix our issue.

Thank you.

[2020-09-29 11:46] eholman commented on #171
@tiaguinho There is a good need for updated demo's/documentation.

Another error:
[code]

which should become either
`<input matInput mccColorPickerOrigin="openOnFocus" #trigger="mccColorPickerOrigin" [formControlName]="controlName"  />` or `<input matInput mccColorPickerOrigin="default" #trigger="mccColorPickerOrigin" [formControlName]="controlName"  />`

I like the feature openOnFocus though 👍

[2020-09-29 11:53] eholman opened #176 "Incorrect hex-input and rgb-input css?"
**Describe the bug**
Given this HTML:
[code]

Results in:
![image](https://user-images.githubusercontent.com/5081051/94554691-bca25700-025a-11eb-879f-cc066e3794a5.png)

When I override the CSS in styles.scss with this:
[code]

That results in:
![image](https://user-images.githubusercontent.com/5081051/94554919-1440c280-025b-11eb-9766-d3604f6d1512.png)

Am I doing something wrong or is the default

[2020-09-30 11:02] lkainers opened #177 "Alpha is set to zero when transparent ist used"
**Describe the bug**
If you use transparent color and disable the alpha selector all following colors get alpha 0

**To Reproduce**
app.module.ts
import { MccColorPickerModule } from 'material-community-components/color-picker';

imports: [
        MccColorPickerModule.forRoot({
            empty_color: 'transparent',
            used_colors: []
        }),
]

**Expected behavior**
definition of d

[2020-09-30 13:22] motabass commented on #176
The Inputs inside the Picker should be the veriant with underline only. You maybe have configured the outline variant globaly which seems to leak into the color-picker component.

I will taka a look at it

[2020-09-30 13:37] lkainers commented on #177
empty_color: 'transparent' was taken from https://tiaguinho.github.io/material-community-components/color-picker.

empty_color: '' seems to work as intended

[2020-09-30 13:40] motabass commented on #177
I see your point. But what i don't really get is the meaning of using 'transparent' as default anyway when one does not want alpha.

Wouldn't 'white' or null be a better fit for your default color?

[2020-09-30 13:41] motabass commented on #174
@tiaguinho can you please update the demo?

[2020-09-30 13:43] eholman commented on #176
You're good! 😎 I indeed have this in the app.module:

`providers:[{provide: MAT_FORM_FIELD_DEFAULT_OPTIONS, useValue: {appearance: 'outline'}}]`

Quickly fixed, thanks!

[2020-09-30 13:47] motabass commented on #152
Why did you close this issue?

[2020-09-30 13:54] lkainers commented on #177
It seems that I got the documentation wrong. For me transparent meant 'no color' and it worked that way before alpha selector was introduced. My application works with empty_color: '' too.

[2020-09-30 13:54] #177 closed

[2020-09-30 15:08] motabass commented on #170
I did a workaround for now which prevents it from being cut-off but still does not center it:
https://github.com/tiaguinho/material-community-components/pull/178/commits/2cda8bdd0e2a22af7a5ebd6f30d7d6aa9c968a9b

[2020-09-30 15:22] motabass commented on #171
@eholman the error appears only when having "strictTemplates" = true in your angularCompilerOptions.

I'll try to change the types to work with strict template type checks.

[2020-09-30 16:30] motabass commented on #171
https://github.com/tiaguinho/material-community-components/pull/178/commits/5a1a3419cc72ae9bab4bdb2208746d8907775b06 should fix all error showing up due to `strictTemplates` checks

[2020-10-06 10:43] tiaguinho commented on #174
@motabass the ```ng deploy``` command is not working. I'm trying to solve this.

[2020-10-06 10:47] #176 closed

[2020-10-06 12:25] motabass commented on #174
@tiaguinho i fixed the deploy. seems as if i accidentially removed the architect goal when refactoring. sorry for that;)

https://github.com/tiaguinho/material-community-components/pull/179

[2020-10-06 12:28] motabass commented on #171
All changes are now documented and https://github.com/tiaguinho/material-community-components/releases/tag/v9.0.1 is released so this can be closed i think

[2020-10-06 18:50] #174 closed

[2020-10-07 22:23] motabass commented on #171
The demo is now up to date:
https://tiaguinho.github.io/material-community-components/

[2020-10-08 12:37] damingerdai opened #180 "please provide the schematic"
**Describe the idea you have**

A schematic is a template-based code generator that supports complex logic

 With schematic, we can use `ng add material-community-components` to add material-community-components for our angular application.

[2020-10-09 11:14] eholman commented on #171
Good move and great job!

[2020-10-14 16:25] lippomano commented on #171
I still see tinycolor2 missing dependencies

[2020-10-15 10:33] motabass commented on #171
It seems as if an import from `@types/tinycolor2` in the lib is causing this. Could you try if the error disapears if you add that to your `devDependencies`. I also changed the import to an type-only import `import type { Instance } from 'tinycolor'` in https://github.com/tiaguinho/material-community-components/pull/181. I hope it helps.

[2020-10-16 12:50] tiaguinho commented on #171
Thanks @motabass
@lippomano can you check with v9.0.2?

[2020-10-19 07:40] motabass commented on #171
@tiaguinho 9.0.2 has _theming.scss missing!!

[2020-10-19 09:50] tiaguinho commented on #171
@motabass I just publish a new version fixing this.
Thanks

[2020-10-20 07:52] VladMstv commented on #171
Installed v 9.0.3 and installed additionally @thebespokepixel/es-tinycolor v 2.1.1
Keeps giving me this:
[code]

[2020-10-20 12:12] motabass commented on #171
@VladMstv which TypeScript version are you using? Seems to have no support for Type-only imports.

[2020-10-20 12:16] VladMstv commented on #171
Yeah, seems like that, 3.7.5. I'll try to upgrade it.

[2020-10-29 23:13] devlfm commented on #171
Hi, I'm also having this problem.. 9.0.3 didn't fix it.
I need the fix for the drag outside box on color picker, if there's another release with that fix I'm ok with that.

[code]

[2020-11-01 21:27] motabass commented on #171
Being on typescript > 3.8 and adding @types/tinycolor2 to the devDependencies should fix it for now.

[2020-11-16 07:19] damingerdai opened #184 "upgrade angular 11"
**Describe the idea you have**
please add angular 11 support

[2020-11-16 22:30] belivo commented on #171
On a clean install I get this compilation error:

ERROR in node_modules/material-community-components/color-picker/color-picker.types.d.ts:41:29 - error TS2709: Cannot use namespace 'Instance' as a type.

    41 export declare type Color = Instance;

[2020-11-17 17:11] jordandh opened #186 "Color Picker does not Update on First Change"
**Describe the bug**
When the color picker's initial `selectedColor` value is the `emptyColor` then the first color selected is not set.

I believe the fix is quite easy but haven't been able to test it myself. Just a couple of changes in `projects/material-community-components/color-picker/color-picker-selector.component.ts`. When the user clicks on the color palette the `changeColor` is called a

[2020-11-18 08:48] #184 closed

[2020-11-18 08:59] #14 closed

[2020-11-18 09:06] tiaguinho commented on #171
@belivo which Angular and MCC version are you using?

[2020-11-19 09:47] motabass commented on #186
Hi. You may either link the locally built library with `npm link` or try use the demo app for development. I hope this helps

[2020-11-19 17:44] belivo commented on #171
@tiaguinho
"@angular/cli": "10.1.7"
I got the latest version from git for MCC.

[2020-11-24 17:34] jordandh opened #188 "Color Picker does not Update when Pasting into Hex Field"
**Describe the bug**
Pasting a hex value into the hex field does not update the color in the color picker.

**To Reproduce**
Steps to reproduce the behavior:
1. Click a color in the palette to select a color.
2. Paste a hex color into the hex field.
3. Notice that the color does not update in the rest of the color picker

**Expected behavior**
Pasting a value into the hex field should update the c

[2020-11-24 17:49] jordandh opened #189 "Color Picker Hex and RGB Fields should use the Empty Color"
**Describe the idea you have**
When deleting the hex value in the hex field of the color picker set the color equal to the empty color instead of #000000.
This is less arbitrary and gives more control to the library user.

As an additional feature always show the hex and rgb fields even when the color is equal to the empty color. The fields can show the value of the empty color or be blank if the

[2020-12-04 06:25] RafalOddslife opened #190 "time-picker: wrong digit position in 24h format when 00:00 selected"
**Describe the bug**
When you set time picker to 00:00 time in 24h mode it has space before hours which breaks layout.
I believe it's related to:
- https://github.com/tiaguinho/material-community-components/issues/159
- `<span><span *ngIf="needsSpacer">&nbsp;&nbsp;</span>{{ hour }}</span>`

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://tiaguinho.github.io/material-community-co

[2021-01-20 11:03] #89 closed

[2021-04-02 14:19] devlfm commented on #188
I'm facing same issue, on windows pasting a second time does **not** work. Is there a timeline for fixing this?

[2021-04-08 13:22] devlfm commented on #188
bump!

[2021-05-20 04:20] damingerdai opened #200 "add angular 12 support"
**Describe the idea you have**
A clear and concise description of what you want to happen.

[2021-06-03 13:32] Abdullah0991 commented on #171
Any solution to this, happens to me with Angular v12.

[2021-07-05 15:08] tiaguinho commented on #200
@damingerdai are you working on this?

[2021-07-05 21:33] damingerdai commented on #200
No...

[2021-08-05 13:31] miguelsmuller opened #209 "Scrollspy in mobile"
the development team intends to improve user interaction in the mobile version of mcc-scrollspy?

[2021-08-09 13:36] f0xw opened #212 "Color picker maintains transparency if alpha is disabled and empty_color is 'transparent'"
**Describe the bug**
When the `enable_alpha_selector` config value is disabled and the `empty_color` is `transparent`, after picking a color in color picker gradient area the selected color keeps the alpha channel as 0 (as shown in the last two digits of the hex input).

**To Reproduce**
Steps to reproduce the behavior:
1. Disable the `enable_alpha_selector` config (it's disabled by default)
2. Se

[2021-08-11 19:46] muehan commented on #171
no solution jet?

[code]
dependency:

dev-dependency:

[2021-11-09 02:20] damingerdai opened #219 "add angular 13 support"
**Describe the idea you have**
this is a breack change

[2021-11-16 09:43] #219 closed

[2021-11-16 09:51] #212 closed

[2021-11-16 16:48] AlessandroSomma opened #221 "Timer Picker renders "undefined" string inside input when the value of input is undefined"
It happens both when using template driven forms and reactive forms.
Here is a stackblitz that reproduces the issue: [link](https://stackblitz.com/edit/angular-ivy-3rfvy4?file=src/app/time-input.component.html)

[2021-12-23 21:54] #209 closed

[2022-07-14 02:50] damingerdai opened #234 "upgrade angular 14"
**Describe the idea you have**
upgrade angular 14

[2022-07-20 03:34] damingerdai opened #236 "migrate to eslint"
**Describe the idea you have**
A clear and concise description of what you want to happen.
remove tslint

[2022-07-29 10:08] #234 closed

[2022-10-27 11:53] maxdef88 opened #239 "Missing style file"
**Describe the bug**
Missing `.scss` files into packaged lib.

**To Reproduce**
Steps to reproduce the behavior:
1. npm i material-community-components@13
2. Open node_modules/material-community-components/_theming.scss
3. The file use  `timer-picker/timer-picker-theme` and `speed-dial/speed-dial-theme` but this files don't exist
4. See error when follow instruction for theming

**Expected behavio